.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}

.dropdown-container {
    margin: 1%;
}

.responsive-container-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    align-items: center;
}

.outputs-container {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}